* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #063940;
    --color2: #195e63;
    --color3: #3e838c;
    --color4: #8ebdb6;
    --color5: #ece1c3;
    --color6: #fff;

    font-family: CentraNube, system-ui, BlinkMacSystemFont, Helvetica Neue, arial, sans-serif;
    --font1: ;
}

.btn-logo {
    font-size: 3em;
    color: var(--color5);
    text-decoration: none;
}

.menu {
    height: 100px;
    width: 100%;
    background-color: var(--color1);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-menu {
    font-weight: bolder;
    color: var(--color5);
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.btn-menu:hover,
.btn-logo:hover,
.icon-menu-hidden:hover {
    color: var(--color3);
}

.menu-hidden-options {
    max-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart {
    height: 60px;
    width: 60px;
    color: var(--color5);
    border: 2px solid var(--color5);
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.cart:hover {
    border: 2px solid var(--color3);
    border-radius: 5px;
    color: var(--color3);
}

.cart-icon {
    font-size: 2em;
}

.cart-number {
    color: var(--color1);
    position: absolute;
    top: 18%;
    left: 52%;
    transform: translateX(-48%);
    z-index: 1;
}

/*-----------------------menu*/

.icon-menu-hidden {
    display: none;
    color: var(--color5);
    font-size: 2em;
    margin-left: 30px;
}

.menu-hidden {
    height: 200px;
    width: 100%;
    background-color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: 1s;
}

.menu-hidden>ul {
    height: 180px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-hidden>ul>li {
    margin-block: 5px;
}

.menu-hidden>ul>li>a {
    padding: 10px;
    color: var(--color5);
    font-weight: bold;
}

.menu-hidden>ul>li>a:hover {
    color: var(--color2);
}

.menu-active {
    opacity: 1;
    z-index: 2;
    transition: 1s;
}

/*-----------------------menu-hidden*/

main {
    overflow: hidden;
}

/*---------------------main*/
.banner {
    height: 600px;
    width: 100%;
    padding: 0px 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-banner {
    height: 400px;
    width: 70%;
}

.image-banner>img {
    height: 100%;
    width: 100%;
}

.text-banner {
    height: 400px;
    width: 30%;
    background-color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-banner>p {
    text-align: center;
}

.text-banner > p > span {
    font-size: 5em;
}


/*-------------------------banner*/

.title-section {
    padding: 0px 20px;
}

/*---------------------title section*/
.product-offer {
    height: 250px;
    width: 1300px;
    background-color: var(--color4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0px;
}

.product-offer > div {
    height: 150px;
    width: 150px;
}

.product-offer > div > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


/*-----------------------product offer*/
.products {
    margin: 50px 0px;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 400px;
    /* border: 1px solid green; */
    padding: 10px;
    margin: 0px auto 30px auto;
    display: block;
    text-decoration: none;
    color: var(--color1);
}

.card > img {
    height: 300px;
    width: 100%;
}

/*---------------products*/

.product {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    color: var(--color1);
    margin-bottom: 20px;
}

.product-details {
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    color: var(--color1);
    border: 1px solid var(--color4); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.product-img-large {
    min-height: 300px;
    min-width: 400px;
    margin-right: 20px;
    margin-bottom: 100px;
    display: block;
}

.product-img-large > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
 
.product-price {
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* background-color: yellow; */
}

.product-price > button {
    height: 40px;
    width: 160px;
    border: none;
    border: 1px solid var(--color3);
    border-radius: 5px;
    cursor: pointer;
    color: var(--color6);
    background-color: var(--color3);
}

.product-price > button:hover {
    color: var(--color4);
    background-color: var(--color1);
    transition: 0.5s;
}

.aside-images {
    height: 70%;
    width: 20%; 
    /* border: 1px solid red;    */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green; */
}

.aside-img {
    min-height: 50px;
    width: 100%;
    margin-bottom: 20px;
    /* border: 1px solid green; */
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.aside-img > img {
    height: 100%;
    width: 100%;
}

.description {
    padding: 20px;
    color: var(--color1);
    background-color: var(--color4);
}

.description > h1 {
    margin-bottom: 30px;
}

.description > p {
    text-align: justify;
}

/*---------------product*/

.section-form-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login {
    height: 400px;
    width: 350px;
    background-color: var(--color4);
    margin-block: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-login > input {
    height: 40px;
    width: 80%;
    margin-block: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color2);
    color: var(--color1);
    background-color: transparent;
}

.form-login > input::placeholder {
    color: var(--color1);
}

input.btn-form {
    border: none;
    cursor: pointer;
    color: var(--color6);
    background-color: var(--color1);
    border-radius: 5px;
}

input.btn-form:hover {
    background-color: var(--color3);
}
/*----------------login*/

.section-form-register {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-register {
    height: 500px;
    width: 400px;
    border: 1px solid var(--color3);
}
/*------------------register*/

.cart-container {
    width: 100%;
    margin-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.table-cart {
    width: 40%;
    border-radius: 10px;
    color: var(--color6);
    background-color: var(--color1);
}

td, th {
    padding: 10px;
    text-align: center;
}

.decrease-quantity, .increment-quantity {
    /* background-color: yellow; */
    cursor: pointer;
    padding: 0px 10px;
    font-size: 1.5em;
}

.decrease-quantity:hover, .increment-quantity:hover {
    color: var(--color4);
}

.cart-container > div {
    height: 100px;
    width: 100%;
    /* background-color: red; */
    position: relative;
}

.btn-table-remove {
    color: var(--color6);
    background-color: var(--color4);
    text-decoration: none;
    border: 1px solid var(--color6);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn-table-cart {
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: var(--color6);
    background-color: var(--color3);
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
}

.btn-table-remove:hover, .btn-table-cart:hover {
    background-color: var(--color1);
} 

/*----------------------cart*/
footer {
    height: 50px;
    width: 100%;
    color: var(--color5);
    background-color: var(--color2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 0px;
}

footer>div {
    position: relative;
}

footer>div>a {
    color: var(--color5);
    font-size: 1.5em;
    margin: 0px 10px;
}

.icon-facebook:hover,
.icon-x:hover,
.icon-youtube:hover {
    color: var(--color3);
}

.icon-facebook:hover::after,
.icon-x:hover::after,
.icon-youtube:hover::after {
    content: 'facebook';
    color: var(--color5);
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color1);
    background-color: var(--color3);
    position: absolute;
    top: -50px;
    left: -25px;
}

.icon-x:hover::after {
    content: 'twitter-X';
    top: -50px;
    left: 25px;
}

.icon-youtube:hover::after {
    content: 'youtube';
    top: -50px;
    left: 75px;
}

@media screen and (max-width: 520px) {
    .menu-items {
        display: none;
    }

    .icon-menu-hidden {
        display: block;
    }

    footer {
        height: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* position: absolute;
        bottom: 0px; */
    }
}

@media screen and (max-width: 800px) {

    .text-banner,
    .image-banner {
        height: 350px;
    }

    .banner {
        height: 500px;
    }
}

@media screen and (max-width: 650px) {
    .text-banner {
        display: none;
    }

    .image-banner {
        height: 250px;
        width: 90%;
    }

    .banner {
        padding: 0px;
        height: 300px;
    }
}

@media screen and (max-width: 730px){
    .product-details {
        flex-direction: column;
        padding: 0px;
        border: none;
    }

    .product-img-large {
        margin: 0px;
        display: block;
    }

    .aside-images {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 100px;   
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .aside-img {
        width: 32%;
    }

    .product-price {
        border: 1px solid var(--color4);
        border-radius: 10px;
    }
}